appdirs==1.4.4
astroid==2.5.2
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.5
blinker==1.4
cfgv==3.2.0
click==7.1.2
colorama==0.4.4
distlib==0.3.1
docopt==0.6.2
docutils==0.17.1
easyAI==1.0.0.4
feedgenerator==1.9.1
filelock==3.0.12
Flask==2.0.1
ghp-import==0.4.1
git-lint==0.1.2
html-linter==0.4.0
identify==2.2.2
iniconfig==1.1.1
invoke==1.5.0
isort==5.8.0
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
libcst==0.3.21
loguru==0.5.3
logzero==1.7.0
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.5.0
packaging==21.0
pathlib2==2.3.5
pathspec==0.8.1
pelican==4.6.0
pluggy==1.0.0
pre-commit==2.15.0
py==1.10.0
pyaes==1.6.1
pyasn1==0.4.8
pycln==1.0.3
pycodestyle==2.6.0
Pygments==2.8.1
pylint==2.7.4
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
PyYAML==5.4.1
rsa==4.7.2
six==1.15.0
Telethon==1.20
template-remover==0.1.9
termcolor==1.1.0
toml==0.10.2
typer==0.3.2
typing-extensions==3.10.0.2
typing-inspect==0.7.1
Unidecode==1.2.0
virtualenv==20.4.3
Werkzeug==2.0.1
win32-setctime==1.0.3
wrapt==1.12.1
